
.header{

    display: flex;
    align-items: center;
    
    &__img{
        align-self: flex-start; /* Coloca este hijo al principio del contenedor flexbox */
        max-width: 500px;
        height: 523px;
        background-image: url('../../../byfreedom/build/img/header.png');
        background-repeat: no-repeat;
        background-size: contain;
    
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-self: flex-start; /* Coloca este hijo al principio del contenedor flexbox */

        &-start{
            font-weight: 500;
            font-size: 21px;
            font-style: normal;
            line-height: 22px;
            /* identical to box height, or 105% */
            letter-spacing: 0.15px;
            
            /* Neutral/10 */
            color: #486284; 
        }
        &-title{
            //font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 60px;
            /* or 120% */
            letter-spacing: 0.15px;

            /* Neutral/10 */
            color: #486284;

        }
        &-subtitle{

            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            /* or 160% */
            letter-spacing: 0.5px;
            color: #8CA2C0;

        }
        &__btn {
            display: flex;
            &-conducir{
                /* Style=Filled */

            box-sizing: border-box;
            margin-right: 25px;
            /* Auto layout */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 20px;
            gap: 10px;

            width: 170px;
            height: 48px;

            /* Neutral/10 */
            background: #486284;
            /* Neutral/10 */
            border: 1px solid #486284;
            border-radius: 50px;
            /* Do something */
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            letter-spacing: 0.5px;

            /* Neutral/0 */
            color: #FFFFFF;




            }
            &-informacion{
                /* Style=Outlined */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 170px;
height: 48px;

/* Neutral/10 */
border: 1px solid #486284;
border-radius: 50px;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.5px;

/* Neutral/10 */
color: #486284;





            }
        }
        &__logo{
            /* Trusted by: */
            margin-top: 26px;
            display: flex;
            /* subtitle/small */

            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 22px;
            /* or 105% */
            letter-spacing: 0.15px;

            /* Neutral/6 */
            color: #9CB0C9;
            &-img{
                background-image: url('../../../byfreedom/build/img/cabify.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 114px;
                height: 38px;
                margin-left: 15px;
                background-position: top top;
            }

        }
    }
}


