.rent{
    background-color: #EEEEEE;
    padding: 86px 0px;
    &__title{
        /* ¿Por qué rentar? */

        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 150%;

        align-items: center;
        letter-spacing: -0.02em;

        color: #486284;

    }
    &__subtitle{
        /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et */

        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        align-items: center;
        text-align: center;
        /* Black */
        color: #1A202C;

    }
    &__information{
        margin-top: 75px;
        
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            &-logo{
                text-align: center;
                margin-bottom: 30px;
            }
            &-text{
                padding: 0px 35px;
                &-title{
                    margin-bottom: 10px;
                    /* Choose Location */
        

                    //font-family: 'Plus Jakarta Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 150%;
                    /* identical to box height, or 36px */

                    letter-spacing: -0.02em;

                    /* Black */
                    color: #1A202C;


                }
                &-text{
                    /* Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices, orci vitae convallis mattis. */


                    //font-family: 'Plus Jakarta Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 175%;
                    /* or 24px */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: -0.02em;

                    /* Black */
                    color: #1A202C;


                }
            }
        }
    }
}
.invest{
    padding: 86px 0px;
    text-align: center;
    &__title{

        text-align: center;
        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 150%;
        /* or 72px */

        letter-spacing: -0.02em;

        color: #486284;

    }
    &__subtitle{
        /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et */

        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;

        /* Black */
        color: #1A202C;


    }
    &__information{
        margin-top: 75px;
        &__number h3{

        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 70px!important;
        /* or 122px */
        text-align: center;

        color: #000000;


        }
        &__text{
            /* Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices, orci vitae convallis mattis. */
            padding: 0px 35px;

    //    font-family: 'Plus Jakarta Sans';
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 175%;
                /* or 24px */
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.02em;
        
                /* Black */
                color: #1A202C;
        
            }

        }
    }
    &__btn{
        /* Style=Filled */
margin-top: 35px;
box-sizing: border-box;

/* Auto layout */
/* Do something */

/* body/small */
//font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.5px;

/* Neutral/0 */
color: #FFFFFF;


padding: 12px 20px;
gap: 10px;


/* Neutral/10 */
background: #486284;
/* Neutral/10 */
border: 1px solid #486284;
border-radius: 50px;

    }
}
.drive{
    background-color: #EEEEEE;
    padding: 50px 0px;
    text-align: center;
    &__title{
        /* ¿Que vehículos voy a conducir? */
        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 150%;
        /* identical to box height, or 72px */

        text-align: center;
        letter-spacing: -0.02em;

        color: #486284;

    }
    &__subtitle{
        /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et */

//font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
margin-top: 30px;
text-align: center;

/* Black */
color: #1A202C;


    }
    &__card{
        display: flex;
        justify-content: center;
        &__item{
            width: 304px;
            height: 388px;
            background-image: url("../../../byfreedom/build/img/drive.png");
            background-position: center;
            background-size: contain;  
            margin: 0px 30px;    
            margin-top: 66px;
            margin-bottom: 30px;      
        }

}
    &__btn{
        /* Style=Filled */

    box-sizing: border-box;


    /* Neutral/10 */
    background: #486284;
    /* Neutral/10 */
    border: 1px solid #486284;
    border-radius: 50px;
    align-items: center;
    padding: 12px 20px;
    /* Do something */

/* body/small */
//font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.5px;

/* Neutral/0 */
color: #FFFFFF;


    }
}

.sponsors{
    background-color: white;
    height: auto;
    overflow: hidden;
    padding: 25px;
    background-color: red;

    
    &__owl-carousel{
        background-color: blue;

    }
}

.reviews{
    background-color: blue;
    &__container{
        display: flex;
        justify-content: center;
      
    }
    &__card{
        width: 350px;
       
        background: #D3DCE7;
        border-radius: 10px;
        padding: 30px 40px;
        &__text{
            /* “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”. */



//font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;

color: #486284;


        }
    
        &__header{
            display: flex;
            justify-content: space-between;
            &__number{
                
                    padding-top: 10px;
                    /* 4.5 */



//font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;


color: #486284;


                
            }
            &-profile{
                display: flex;
                &-picture{
                    width: 40px;
                    height: 40px;
                    background-image: url("../../../byfreedom/build/img/profile-picture.jpg");
                    background-size: cover;
                    background-position: center center;
                    border-radius: 100%;
                    margin-right: 10px;
                }
            }
            &-names{
                padding-top: 5px;
                &-title{
                    /* Viezh Robert */


//font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;

color: #486284;


                }
                &-subtitle{
                    /* Warsaw, Poland */


//font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;



color: #486284;


                }
            }
        }
        
    }

    

    #carouselExampleDark1{
        height: 458px;
        background-color: #EEEEEE;
        display: flex;
        flex-direction: column;
    
    }
    .container-btn{
        display: flex;
        justify-content: start;
    }
    .carousel-indicators-review{
        display: flex;
        justify-content: start!important;
    }
    
}
.howtorent{
    padding: 86px 0px;
    text-align: center;
    &__title{

        text-align: center;
        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 150%;
        /* or 72px */

        letter-spacing: -0.02em;

        color: #486284;

    }
    &__subtitle{
        /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et */

        //font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;

        /* Black */
        color: #1A202C;
/* Rectangle 23792 */





    }
    &__information{
        display: flex;
        margin-top: 75px;
        &__img{
            width: 566px;
            height: 528px;
            background-image: url("../../../byfreedom/build/img/drive.png");
            background-position: center;
            background-size: contain;  
        }
        &__items{
            display: flex;
            margin-bottom: 25px;
            &-texts{
                &-title{
                    /* Llená el formulario */

padding: 0px 30px;
//font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 150%;
/* identical to box height, or 33px */
display: flex;
align-items: center;
letter-spacing: -0.02em;

/* Black */
color: #1A202C;


                }
                &-subtitle{
                    /* Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices. */

                    padding: 0px 30px;

//font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: -0.02em;
text-align: start;

/* Black */
color: #1A202C;


                }
            }
        }
    }
    &__btn{
        /* Style=Filled */
margin-top: 71px;
box-sizing: border-box;

/* Auto layout */
/* Do something */

/* body/small */
//font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.5px;

/* Neutral/0 */
color: #FFFFFF;


padding: 12px 20px;
gap: 10px;


/* Neutral/10 */
background: #486284;
/* Neutral/10 */
border: 1px solid #486284;
border-radius: 50px;

    }
}
/* Rectangle 265 */


